/****** Hebergements And Populaires ***********/

.hebergements-and-populaires {
  display: flex;
  justify-content: space-between;
}

.hebergements-and-populaires section {
  background-color: var(--main-bg-color);
  border-radius: 20px;
  padding: 30px;
  box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
  width: 65%;
}

.hebergements-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1.87rem;
  margin-top: 2rem;
}

.hebergements-cards img {
  width: 100%;
  height: 115px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card-txt {
  margin-left: 0.5rem;
}

.hebergements-cards .card-title {
  margin: 0.5rem 0;
}

.hebergements-cards .card-subtitle {
  margin: 0;
}

.card-rating {
  margin: 0.5rem;
}

.hebergements_more {
  font-size: 1.1rem;
  font-weight: 700;
  margin-bottom: 0;
}

/****** Populaires ***********/
.populaires {
  width: 32%;
}

.populaires-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.populaires-cards .card {
  display: flex;
  margin-top: 33px;
}

.populaires-cards img {
  width: 33%;
  height: 136px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
  width: 67%;
  padding-left: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
}

.populaires-cards .card-title {
  margin-top: 10px;
  margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
  margin: 0;
}

.populaires-cards .card-rating {
  margin-bottom: 5px;
}

/****** Activités *****/

.activities {
  margin: 2rem 1rem;
}

.activities .section-title {
  padding: 1rem 1rem 1.5rem;
}

.activities-cards {
  display: flex;
  justify-content: space-around;
}

.activities-cards .card {
  width: 23%;
  padding: 0;
}

.activities-cards img {
  width: 100%;
  height: 23.7rem;
  border-radius: 20px 20px 0 0;
}

.activities-cards .card-txt {
  margin-left: 1rem;
}

/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
  /*** Hebergements ****/

  .hebergements-and-populaires {
    flex-direction: column;
  }

  .hebergements {
    width: 100%;
  }

  .hebergements .card-title {
    font-size: 0.95rem;
  }

  /**** Populaires ****/

  .populaires {
    width: 100%;
    margin-top: 50px;
  }

  .populaires-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .populaires-cards a {
    width: 30%;
  }

  .populaires-cards .card {
    margin-top: 1rem;
  }

  .populaires-cards .card-title {
    font-size: 14px;
  }

  .populaires-cards .card-subtitle {
    font-size: 13px;
  }

  /*** Activités ***/
  .activities-cards img {
    height: 12.5rem;
  }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
  /*** hebergements ***/

  .hebergements-and-populaires section {
    border-radius: 0;
  }

  .hebergements-and-populaires .hebergements {
    order: 2;
    background-color: white;
  }

  .hebergements-cards {
    grid-template-columns: 1fr;
  }

  /*** populaires  ****/

  .populaires {
    margin-top: 0; /*Enlever l'espace entre les plus populaire et le headerhero*/
    order: 1;
  }

  .populaires-cards {
    flex-direction: column;
  }

  .populaires-cards a {
    width: 100%;
  }

  /**** activités*** */
  .activities-cards {
    flex-direction: column;
    gap: 1rem;
  }

  .activities-cards .card {
    width: 100%;
  }
}
